<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <test name="src/test/java/test">
        <classes>
            <class name="test.TestSearchFeature">
                <methods>
                    <include name="navigateToAmazonHomePage"/>
                    <include name="testSearchWithValidInput"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>